{% load static %}
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <main>
      <img
        src="{% static 'reviewy.png' %}"
        type="image/png"
        alt="logo"
        width="350"
      />
      <div class="formContainer">
        <h3>Login do Usuário</h3>
        <hr />
        <form class="formContent" action="" method="POST">
          {% csrf_token %} {{ form.as_p }}
          <input class="registerBtn" type="submit" value="ENTRAR" />
        </form>
      </div>
    </main>
  </body>
</html>
