{% extends 'blog/base.html'%} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/resenha.css' %}" />
  <h1>{{ livro.titulo }} - {{ livro.autor }} </h1>
  <div class="bookContainer">
    <div class="coverCard">
      <img
        class="book-cover-large"
        src="{{ livro.capa }}"
        alt="Capa do livro {{ livro.titulo }}"
      />
    </div>
    <div class="form-review">
   <h4>Deixe sua resenha aqui:</h4>
    <form class="form" action="" method="POST">
      {% csrf_token %} {{ form.as_p }}
      <input class="newReviewBtn" type="submit" value="PUBLICAR RESENHA" />
    </form>
  </div>
  </div>
  <h2>Resenhas</h2>
  {% for resenha in resenhas %}
  <div class="reviewsContainer">
         <div class="review">
             <h4>{{ resenha.usuario }}</h4>
              <div class="review-title">
                <h3>{{ resenha.titulo }}</h3>
                <p>Nota {{ resenha.nota }}/5</p>
               </div>
             <p>{{ resenha.texto }}</p>
        </div>
      </div>
      {% endfor %}
  </div>
{% endblock %}
